<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgh.dao.ChaptorDao">


    <insert id="insertData" parameterType="com.qgh.pojo.Chaptors">
        insert into chaptor(chaptor_name,ct_id,update_time,chaptor_url,pay,bg_music_url) values (#{chaptorName},#{ctId},#{updateTime},#{chaptorUrl},#{pay},#{bgMusicUrl})
    </insert>
    <select id="searchPage" resultType="com.qgh.pojo.Chaptors">
       select * from chaptor where
       ct_id=#{ctId}
    </select>

    <select id="searchByChaptorIdAndCartoonId" resultType="com.qgh.pojo.Chaptors">
       select * from chaptor where
       id=#{chaptorId} AND
       ct_id=#{cartoonId}
    </select>

    <select id="searchById" resultType="com.qgh.pojo.Chaptors">
        select * from chaptor where
        id=#{id}
    </select>

    <!--取出日期最早的章节-->
    <select id="searchByCtId" resultType="Integer">
select MAX(id) as id
from chaptor
where ct_id=#{ctId}
order by update_time
    </select>

    <update id="addPayId">
      update chaptor
      set pay_user_id=CONCAT(pay_user_id,#{userId})
      where  id=#{chaptorId}
    </update>

    <!--更新背景音乐-->
    <update id="updateBackgroundMusic">
      update chaptor
      set bg_music_url=#{bgMusicUrl}
      where  id=#{chaptorId}
    </update>

    <!--根据漫画id查询当前漫画的章节信息-->
    <select id="queryById" resultType="map">
        select c.id,c.chaptor_name as "chaptorName",c.ct_id as "ctId",
        (select cn.ct_name from cartoon  cn where cn.id=c.ct_id) as "carName",
        c.update_time as "updateTime",c.chaptor_url as "chaptorUrl",
        c.zan_num as "zanNum",c.pay as "pay"
        from chaptor c
        <where>
            c.ct_id=#{id}
        </where>
        order by c.update_time desc
    </select>


    <!--根据章节id查询当前漫画的章节信息 -->
    <select id="queryByName" resultType="Integer">
        select c.id
        from chaptor c
        <where>
            c.chaptor_name=#{name}
        </where>
        order by c.update_time desc
    </select>
</mapper>