<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgh.dao.PayRecordDao">
<insert id="addPayRecord" parameterType="com.qgh.pojo.PayRecord">
    insert into pay_record(oder_number,user_id,pay_time,pay_money,dong_num)values (#{oderNumber},#{userId},#{payTime},#{payMoney},#{dongNum})
</insert>

    <select id="searchAllByUserId" resultType="com.qgh.pojo.PayRecord">
        select *
        from pay_record pr,user ur
        where pr.user_id=#{userId} AND  pr.user_id=ur.id
    </select>
</mapper>