<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgh.dao.WalletDao">

    <insert id="addWallet" parameterType="com.qgh.pojo.Wallet">
    insert into wallet(user_id,dong_num) values (#{userId},#{dongNum})
</insert>

    <update id="updateWallet" parameterType="com.qgh.pojo.Wallet">
  update wallet
  set dong_num=dong_num+#{dongNum}
  where user_id=#{userId}
    </update>

    <select id="findUserId" resultType="com.qgh.pojo.Wallet" >
        select *
        from wallet
        where user_id=#{userId}
    </select>

    <update id="payChaptor">
      update wallet
      set pay_chaptor_all_id=CONCAT(pay_chaptor_all_id,#{chaptorId})
      , dong_num=dong_num-30
      where user_id=#{userId}
    </update>
</mapper>