<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户充值中心</title>

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/charge.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/foot.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery.min.js}"></script>

    <!--//fonts-->
    <script type="text/javascript" th:src="@{/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{/js/easing.js}"></script>
    <!-- slide -->
    <script th:src="@{/js/responsiveslides.min.js}"></script>
    <script type="text/javascript" th:src="@{/framework/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="header::#top"></div>
<div class="main">
    <!--充值账号开始-->
    <div class="information">
        <div class="information_box clearfix">
            <div class="man_id"><i></i>充值账户：<a class="col_red" href="http://user.u17.com" target="_blank"
                                               th:text="${userAccount}"></a></div>
            <div class="man_balance"><i></i>账户余额：<span class="col_red" th:text="${dongNum}"></span>咚币 <a class="col_yellow underline ml10"
                                                                                      th:href="@{/record/(pageNo=1)}"
                                                                                      target="_blank">充值记录</a></div>
        </div>
    </div>
    <!--充值账号 end-->
    <!--整体内容开始-->
    <div class="con vip_payment_bg clearfix">
        <!--左侧导航-->
        <div class="payment_tablist" id="vip_pay">
            <a class="cur" href="http://pay.u17.com/vip_member/alipay.html"><i></i>支付宝</a>

            <div class="contact">
                在线客服：<img style="CURSOR: pointer"
                          onclick="javascript:window.open('http://q.url.cn/cdtXPe?_type=wpa&amp;qidian=true', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"
                          border="0" src="http://b.qq.com/static/images/wp/wp_3.gif"><br>
            </div>
        </div>
        <!-- some text -->
        <!--左侧导航end-->
        <!--右侧内容-->
        <div class="payment_con">
            <script type="text/javascript"
                    src="http://static.u17i.com/pay3.0/js/alipay_pay.js?t1489047741&amp;a17"></script>
            <div class="paymentlist" id="pay_main">
                <style type="text/css">
                    .messageBoxTd {
                        border: none;
                        padding-top: 10px;
                    }
                </style>
                <form method="post" th:action="@{/alipay/page/gotoPayPage}" onsubmit="return validate_form()">

                    <div class="clearfix paymentrow">
                        <div class="title">付费模式：</div>
                        <div class="pay_month_area">
                            <div class="pay_way_new" data-tip="" data-m="1" data-pid="1" data-auto="1">
                                <div class="bot_right_bg"></div>
                                <div class="top_info">
										<span class="price_info v-align-helper">
											<p>
												<i class="p_val">15</i>
												<i class="p_unit">元</i>
												<i class="p_day_unit">/手滑一下</i>
											</p>
											<span></span>
										</span>
                                </div>
                                <div class="bot_info">
                                    <div class="subwrap v-align-helper">
                                        <p class="remarks">1500咚币</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pay_way_new cur" data-tip="" data-m="12" data-pid="3" data-auto="1">
                                <div class="bot_right_bg"></div>
                                <div class="top_info">
										<span class="active_info">
											<span class="act_tag">超值</span>
											<span class="act_desc"></span>
										</span>
                                    <span class="price_info v-align-helper">
											<p>
												<i class="p_val" >50</i>
												<i class="p_unit">元</i>
												<i class="p_day_unit">/手抖一下</i>
											</p>
											<span></span>
										</span>
                                </div>
                                <div class="bot_info">
                                    <div class="subwrap v-align-helper">
                                        <p class="remarks">5500咚币，多赠送500咚币</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cb"></div>
                            <div class="pay_way_new" data-tip="" data-m="1" data-pid="2" data-auto="0">
                                <div class="bot_right_bg"></div>
                                <div class="top_info">
										<span class="price_info v-align-helper">
											<p>
												<i class="p_val">75</i>
												<i class="p_unit">元</i>
												<i class="p_day_unit">/开始爱了</i>
												<br><i class="p_del">原价80元</i> </p>
											<span></span>
										</span>
                                </div>
                                <div class="bot_info">
                                    <div class="subwrap v-align-helper">
                                        <p class="remarks">8000咚币</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pay_way_new" data-tip="" data-m="12" data-pid="4" data-auto="0">
                                <div class="bot_right_bg"></div>
                                <div class="top_info">
										<span class="price_info v-align-helper">
											<p>
												<i class="p_val">128</i>
												<i class="p_unit">元</i>
												<i class="p_day_unit">/爱的深沉</i>
												<br><i class="p_del">原价200元</i> </p>
											<span></span>
										</span>
                                </div>
                                <div class="bot_info">
                                    <div class="subwrap v-align-helper">
                                        <p class="remarks">20000咚币</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zhushi col_yellow" id="tip_buy_month"></div>

                    <input id="pay_money" type="hidden" name="payMoney" value="">
                    <input id="dong_num" type="hidden" name="dongNum" value="">
                    <input type="hidden" name="userId" id="user_id" th:value="${userId}">

                    <script type="text/javascript"
                            src="http://static.u17i.com/pay3.0/js/pay_month.js?t1508750022&amp;a17"></script>
                    <div class="ml110 mt10 lh20">
                        <input type="checkbox" checked="checked" name="toll" id="toll">&nbsp;&nbsp;接受并同意 <a
                            href="http://www.u17.com/z/help/shoufeimain.html"
                            target="_blank" class="col_blue underline">有妖气收费服务协议</a><br>
                    </div>
                    <div class="ml110 mt10"><img src="http://static.u17i.com/pay3.0/images/vip_pay/vip_zhifubao.png">
                    </div>
                    <div class="yellow_box"
                         style="width: 150px; height:30px; line-height:30px; margin-left:110px; padding:0 10px; color:#d9292b; text-align:left;display:none;"
                         id="pay_toll_tips"> 购买前请先同意服务条款
                    </div>
                    <div class="ml110 mt10" id="toll_ok_btn">
                        <button type="submit" onclick="form_commit()">下一步</button>


                    </div>
                </form>
            </div>

            <div class="pay_mask" style="display: none;"></div>
            <!-- Mode 1 -->
            <div class="vip_dialog" id="show_qrcode_box" style="display: none;">
                <a href="javascript:;" class="close"></a>
                <div class="tit_pay">请使用支付宝扫码支付</div>
                <div class="bg_l"><img src="http://static.u17i.com/pay3.0/images/common/vip_dialog_bgl.png"></div>
                <div class="bg_r"><img src="http://static.u17i.com/pay3.0/images/common/vip_dialog_bgr.png"></div>
                <div class="erweima_box"></div>
                <div class="txt"></div>
            </div>
            <!-- Mode 2 -->
            <div class="vip_dialog" id="redirect_tip" style="display: none;">
                <a href="javascript:;" class="close"></a>
                <div class="info_txt">
                    <p></p>
                </div>
                <div class="btn">
                    <a href="javascript:;" class="btn_focus"></a>
                    <a href="javascript:;" class="btn_normal"></a>
                </div>
            </div>

            <script type="text/javascript">

                var userId = $('#userInfor').val();
                console.log(userId)

                function form_commit() {

                    //获取用户id 所支付金额 、 所得咚币数量
                    var userId = userId;
                    var payMoney = $('.pay_way_new.cur .p_val').text();
                    console.log('支付金额：'+payMoney)
                    var dongNum = $('.pay_way_new.cur .remarks').text();
                    console.log('咚币数量：'+dongNum)

                    $('#pay_money').val(payMoney);
                    $('#dong_num').val(dongNum);

                }

                //检查用户是否登录
                function check_user() {
                    if (userId == 0) {

                        return false;
                    }
                    return true;
                }

                //form表单的校验
              function  validate_form(){
                  //1、判断用户是否登录
                  return alertLogin();
              }

              //登录弹框
                function alertLogin(){
                    if (check_user() == false) {
                        alert("请先登录...")
                        return false;
                    }
                    return true;
                }
              
              //充值记录前判断是否登录
              $('.col_yellow').click(function () {
                 return  alertLogin();
              })
            </script>
            <div id="notice_box" class="notice" style="display: none;"></div>
        </div>
    </div>
    <!--整体内容end-->
</div>
<script type="text/javascript">
    $('.pay_way_new').click(function () {
        console.log($(this))
        $(this).addClass('cur');


    })
</script>
<div th:replace="footer::#footer"></div>
</body>
</html>

