<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>星期类别</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/week.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/foot.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- <link rel="stylesheet" th:href="@{/framework/bootstrap.min.css}"/>-->
    <!--//fonts-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{/js/easing.js}"></script>
    <!-- slide -->
    <script th:src="@{/js/responsiveslides.min.js}"></script>
    <script type="text/javascript" th:src="@{/framework/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="header::#top"></div>

<div id="container">
<!--完结或连载-->
<div class="snb_wrap daily _snb_wrap" style="width: 100%; position: absolute;top:-75px">
    <div class="snb_inner">

        <ul class="snb _type_selector">
            <li class="ongoing on" data-type="ONGOING"><a data-buried-obj="1" data-sc-name="PC_week-page_serial-btn"
                                                          href="#ongoing">连载</a></li>
            <li class="completedLi" data-type="COMPLETED" ><a data-buried-obj="1" data-sc-name="PC_week-page_end-btn"
                                                           href="#completed">完结</a></li>
        </ul>


    </div>


</div>

<!--所有连载作品-->
<div class="daily_lst" id="dailyList" style="margin-top:69px;margin-left: 8px">

    <h2 id="ongoing" class="daily_head _type_title" data-type="ONGOING">连载作品</h2>
    <th:block th:each="allWeek,iterStat:${allCartoon}">
    <div class="daily_section  _list_MONDAY">
        <h2><a href="#" class="_weekdaySelect NPI=a:mon,g:zh_CN_zh-hans" data-weekday="MONDAY" th:text="${allWeek.wkName}"></a></h2>
        <ul class="daily_card">
            <th:block th:each="weekCartoon:${allWeek.weekCartoon}">
            <li id="title_li_1432" data-title-no="1432">
                <a data-buried-obj="1" data-sc-name="PC_week-page_MONDAY-list-item" th:href="@{/chaptor/(cartoonId=${weekCartoon.id},currentPage=1)}"
                   class="daily_card_item NPI=a:list,i=1432,r=1,g:zh_CN_zh-hans">
                    <img th:src="${weekCartoon.ctUrl}"
                         width="138" height="138" alt="">
                    <p class="genre g_suspense" th:text="${weekCartoon.cyName}"></p>
                    <div class="info">
                        <p class="subj" th:text="${weekCartoon.ctName}"></p>
                        <p class="author" th:text="${weekCartoon.ctAuthor}"></p>
                        <p class="icon_area"></p>
                    </div>
                    <p class="grade_area"><span class="ico_like3">like</span><em class="grade_num">2,233,099</em></p>
                </a>
            </li>
            </th:block>
        </ul>
    </div>
    </th:block>
</div>
<!--完结作品-->
<div class="daily_lst comp" style="margin-left: 8px">
    <div class="daily_section on">
        <h2 id="completed" class="daily_head _type_title" data-type="COMPLETED">完结作品</h2>
        <ul class="daily_card">

           <th:block th:each="comCartoon:${comCartoon}">
            <li id="title_li_1243" data-title-no="1243">
                <a data-buried-obj="1" data-sc-name="PC_week-page_end-list-item" th:href="@{/chaptor/(cartoonId=${comCartoon.id},currentPage=1)}" class="daily_card_item NPI=a:complist,i=1243,r=226">
                    <img th:src="${comCartoon.ctUrl}"
                         width="138" height="138" alt="">
                    <p class="genre g_campus" th:text="${comCartoon.cyName}"></p>
                    <div class="info">
                        <p class="subj" th:text="${comCartoon.ctName}"></p>
                        <p class="author" th:text="${comCartoon.ctAuthor}"></p>
                        <p class="icon_area">
                            <span class="txt_ico_completed2">COMPLETED</span>
                        </p>
                    </div>
                    <p class="grade_area"><span class="ico_like3">like</span><em class="grade_num">301,268</em></p>
                </a>
            </li>
           </th:block>
        </ul>
    </div>
</div>
</div>
<!--尾部-->
<div th:replace="footer::#footer"></div>

<!--js逻辑-->
<script type="text/javascript">
    /*点击动态修改当前行样式*/
    $('.daily_section >h2').on("click", function () {
        //获得当前点击对象的父亲 li
        var li = $(this).parent();
        //把之前有on 的li去掉on
        removeOn();
        //动态添加
        $(li).addClass("on");
    })

    //去掉所有Li中class中的的on
    function removeOn() {
        var allLi = $('.daily_section');
        for (var i = 0; i < allLi.length; ++i) {
            if ($(allLi[i]).hasClass('on')) {
                $(allLi[i]).removeClass('on');
            }
        }
    }

    var flag=[[${flag}]];
    if (flag==1){
        var allLi = $('.daily_section');
        $(allLi[0]).addClass('on');
    }

    //点击完结滚动效果
    $('.completedLi').on('click',function () {
        $('html , body').animate({scrollTop: $('.daily_lst.comp').offset().top}, 1000);
    //固定导航栏
        //position: fixed; top: 0px;
        $('.snb_wrap.daily._snb_wrap').css('position','fixed');
        $('.snb_wrap.daily._snb_wrap').css('top','0px');
        //改变li标签的背景颜色 先删除连载的
        $('.ongoing').removeClass('on');
        $(this).addClass('on');
    })
    //点击连载
    $('.ongoing').on('click',function () {
        //position: fixed; top: 0px;
        $('.snb_wrap.daily._snb_wrap').css('position','absolute');
        $('.snb_wrap.daily._snb_wrap').css('top','-75px');
        //
        $(this).addClass('on');
        $('.completedLi').removeClass('on');
    })
</script>
</body>
</html>